@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.body{
    background-color: grey;
}
.titulo{
    font-family: 'Comfortaa', cursive;
}
.titulo-2{
    font-family: 'Comfortaa', cursive;
}
.titulo-3{
    font-family: 'Comfortaa', cursive;

}
.card{
    font-family: 'Comfortaa', cursive;
}
.input{
    width: 300px;
}